<div id="characterDiv">
  <form #alucardForm="ngForm" (ngSubmit)="updateFile()">
    <div style="width: 800px; height: 57px; position: absolute; margin: -95px 0px 0px 0px;">
      <img style="float:left; display:block; width: 458px; height: 47px;" src="./images/buttons/overwrite_data.png" />
      <button style="margin-top:0px;" id="overwrite_yes" type="submit"></button>
      <button style="margin-top:0px; margin-left:10px;" id="overwrite_no" (click)="cancelSave()"></button>
    </div>
    <div style="margin:106px 0px 0px 220px; width: 220px;">
      <h3>ALUCARD</h3>
      HP <input type="number" id="hp" name="hp" [(ngModel)]="alucard.HP" #hp="ngModel"> /
        <input type="number" id="hpmax" name="hpmax" [(ngModel)]="alucard.HPMAX" #hp="ngModel"> <br />
      MP <input type="number" id="mp" name="mp" [(ngModel)]="alucard.MP" #hp="ngModel"> /
        <input type="number" id="mpmax" name="mpmax" [(ngModel)]="alucard.MPMAX" #hp="ngModel"> <br />
      HEARTS <input type="number" id="hearts" name="hearts" [(ngModel)]="alucard.HEARTS" #hp="ngModel"> /
        <input type="number" id="heartmax" name="heartmax" [(ngModel)]="alucard.HEARTMAX" #hp="ngModel">
    </div>
    <div style="margin:70px 0px 0px 80px; width: 220px;">
      STR <input type="number" id="str" name="str" [(ngModel)]="alucard.STR" #hp="ngModel"> <br />
      CON <input type="number" id="con" name="con" [(ngModel)]="alucard.CON" #hp="ngModel"> <br />
      INT <input type="number" id="int" name="int" [(ngModel)]="alucard.INT" #hp="ngModel"> <br />
      LCK <input type="number" id="lck" name="lck" [(ngModel)]="alucard.LCK" #hp="ngModel">
    </div>
  </form>
  <div class="equipMenu">
    <button (click)="goToInventory()">Equip</button>
  </div>
</div>
