<div id="characterDiv">
  <form #alucardForm="ngForm">
  <div style="margin:106px 0px 0px 220px; width: 220px;">
    <h3>ALUCARD</h3>
    HP <input type="text" id="hp" name="hp" [(ngModel)]="alucard.hp" #hp="ngModel"> / {{ hpmax }} <br />
    MP {{ mp }} / {{ mpmax }} <br />
    HEARTS {{ hearts }} / {{ heartmax }}
  </div>
  <div style="margin:70px 0px 0px 80px; width: 220px;">
    STR {{ str }} <br />
    CON {{ con }} <br />
    INT {{ int }} <br />
    LCK {{ lck }}
  </div>
  </form>
</div>
