<div id="inventoryDiv">
  <form #inventoryForm="ngForm" (ngSubmit)="updateFile()">
    <div style="width: 800px; height: 57px; position: absolute; margin: -55px 0px 0px -10px;">
        <img style="float:left; display:block; width: 458px; height: 47px;" src="./images/buttons/overwrite_data.png" />
        <button style="margin-top:0px;" id="overwrite_yes" type="submit"></button>
        <button style="margin-top:0px; margin-left:10px;" id="overwrite_no" (click)="cancelSave()"></button>
    </div>
    <div class="inventoryWrap">monsterVial_1 <input type="number" id="monsterVial_1" name="monsterVial_1" [(ngModel)]="inventory.monsterVial_1"></div>
    <div class="inventoryWrap">monsterVial_2 <input type="number" id="monsterVial_2" name="monsterVial_2" [(ngModel)]="inventory.monsterVial_2"></div>
    <div class="inventoryWrap">monsterVial_3 <input type="number" id="monsterVial_3" name="monsterVial_3" [(ngModel)]="inventory.monsterVial_3"></div>
    <div class="inventoryWrap">shieldRod <input type="number" id="shieldRod" name="shieldRod" [(ngModel)]="inventory.shieldRod"></div>
    <div class="inventoryWrap">leatherShield <input type="number" id="leatherShield" name="leatherShield" [(ngModel)]="inventory.leatherShield"></div>
    <div class="inventoryWrap">knightShield <input type="number" id="knightShield" name="knightShield" [(ngModel)]="inventory.knightShield"></div>
    <div class="inventoryWrap">ironShield <input type="number" id="ironShield" name="ironShield" [(ngModel)]="inventory.ironShield"></div>
    <div class="inventoryWrap">axelordShield <input type="number" id="axelordShield" name="axelordShield" [(ngModel)]="inventory.axelordShield"></div>
    <div class="inventoryWrap">heraldShield <input type="number" id="heraldShield" name="heraldShield" [(ngModel)]="inventory.heraldShield"></div>
    <div class="inventoryWrap">darkShield <input type="number" id="darkShield" name="darkShield" [(ngModel)]="inventory.darkShield"></div>
    <div class="inventoryWrap">goddessShield <input type="number" id="goddessShield" name="goddessShield" [(ngModel)]="inventory.goddessShield"></div>
    <div class="inventoryWrap">shamanShield <input type="number" id="shamanShield" name="shamanShield" [(ngModel)]="inventory.shamanShield"></div>
    <div class="inventoryWrap">medusaShield <input type="number" id="medusaShield" name="medusaShield" [(ngModel)]="inventory.medusaShield"></div>
    <div class="inventoryWrap">skullShield <input type="number" id="skullShield" name="skullShield" [(ngModel)]="inventory.skullShield"></div>
    <div class="inventoryWrap">fireShield <input type="number" id="fireShield" name="fireShield" [(ngModel)]="inventory.fireShield"></div>
    <div class="inventoryWrap">alucardShield <input type="number" id="alucardShield" name="alucardShield" [(ngModel)]="inventory.alucardShield"></div>
    <div class="inventoryWrap">swordOfDawn <input type="number" id="swordOfDawn" name="swordOfDawn" [(ngModel)]="inventory.swordOfDawn"></div>
    <div class="inventoryWrap">basilard <input type="number" id="basilard" name="basilard" [(ngModel)]="inventory.basilard"></div>
    <div class="inventoryWrap">shortSword <input type="number" id="shortSword" name="shortSword" [(ngModel)]="inventory.shortSword"></div>
    <div class="inventoryWrap">combatKnife <input type="number" id="combatKnife" name="combatKnife" [(ngModel)]="inventory.combatKnife"></div>
    <div class="inventoryWrap">nunchuku <input type="number" id="nunchuku" name="nunchuku" [(ngModel)]="inventory.nunchuku"></div>
    <div class="inventoryWrap">wereBane <input type="number" id="wereBane" name="wereBane" [(ngModel)]="inventory.wereBane"></div>
    <div class="inventoryWrap">rapier <input type="number" id="rapier" name="rapier" [(ngModel)]="inventory.rapier"></div>
    <div class="inventoryWrap">karmaCoin <input type="number" id="karmaCoin" name="karmaCoin" [(ngModel)]="inventory.karmaCoin"></div>
    <div class="inventoryWrap">magicMissile <input type="number" id="magicMissile" name="magicMissile" [(ngModel)]="inventory.magicMissile"></div>
    <div class="inventoryWrap">redRust <input type="number" id="redRust" name="redRust" [(ngModel)]="inventory.redRust"></div>
    <div class="inventoryWrap">takemitsu <input type="number" id="takemitsu" name="takemitsu" [(ngModel)]="inventory.takemitsu"></div>
    <div class="inventoryWrap">shotel <input type="number" id="shotel" name="shotel" [(ngModel)]="inventory.shotel"></div>
    <div class="inventoryWrap">orange <input type="number" id="orange" name="orange" [(ngModel)]="inventory.orange"></div>
    <div class="inventoryWrap">apple <input type="number" id="apple" name="apple" [(ngModel)]="inventory.apple"></div>
    <div class="inventoryWrap">banana <input type="number" id="banana" name="banana" [(ngModel)]="inventory.banana"></div>
    <div class="inventoryWrap">grapes <input type="number" id="grapes" name="grapes" [(ngModel)]="inventory.grapes"></div>
    <div class="inventoryWrap">strawberry <input type="number" id="strawberry" name="strawberry" [(ngModel)]="inventory.strawberry"></div>
    <div class="inventoryWrap">pineapple <input type="number" id="pineapple" name="pineapple" [(ngModel)]="inventory.pineapple"></div>
    <div class="inventoryWrap">peanuts <input type="number" id="peanuts" name="peanuts" [(ngModel)]="inventory.peanuts"></div>
    <div class="inventoryWrap">toadstool <input type="number" id="toadstool" name="toadstool" [(ngModel)]="inventory.toadstool"></div>
    <div class="inventoryWrap">shiitake <input type="number" id="shiitake" name="shiitake" [(ngModel)]="inventory.shiitake"></div>
    <div class="inventoryWrap">cheesecake <input type="number" id="cheesecake" name="cheesecake" [(ngModel)]="inventory.cheesecake"></div>
    <div class="inventoryWrap">shortcake <input type="number" id="shortcake" name="shortcake" [(ngModel)]="inventory.shortcake"></div>
    <div class="inventoryWrap">tart <input type="number" id="tart" name="tart" [(ngModel)]="inventory.tart"></div>
    <div class="inventoryWrap">parfait <input type="number" id="parfait" name="parfait" [(ngModel)]="inventory.parfait"></div>
    <div class="inventoryWrap">pudding <input type="number" id="pudding" name="pudding" [(ngModel)]="inventory.pudding"></div>
    <div class="inventoryWrap">iceCream <input type="number" id="iceCream" name="iceCream" [(ngModel)]="inventory.iceCream"></div>
    <div class="inventoryWrap">frankfurter <input type="number" id="frankfurter" name="frankfurter" [(ngModel)]="inventory.frankfurter"></div>
    <div class="inventoryWrap">hamburger <input type="number" id="hamburger" name="hamburger" [(ngModel)]="inventory.hamburger"></div>
    <div class="inventoryWrap">pizza <input type="number" id="pizza" name="pizza" [(ngModel)]="inventory.pizza"></div>
    <div class="inventoryWrap">cheese <input type="number" id="cheese" name="cheese" [(ngModel)]="inventory.cheese"></div>
    <div class="inventoryWrap">hamAndEggs <input type="number" id="hamAndEggs" name="hamAndEggs" [(ngModel)]="inventory.hamAndEggs"></div>
    <div class="inventoryWrap">omelette <input type="number" id="omelette" name="omelette" [(ngModel)]="inventory.omelette"></div>
    <div class="inventoryWrap">morningSet <input type="number" id="morningSet" name="morningSet" [(ngModel)]="inventory.morningSet"></div>
    <div class="inventoryWrap">lunchA <input type="number" id="lunchA" name="lunchA" [(ngModel)]="inventory.lunchA"></div>
    <div class="inventoryWrap">lunchB <input type="number" id="lunchB" name="lunchB" [(ngModel)]="inventory.lunchB"></div>
    <div class="inventoryWrap">curryRice <input type="number" id="curryRice" name="curryRice" [(ngModel)]="inventory.curryRice"></div>
    <div class="inventoryWrap">gyrosPlate <input type="number" id="gyrosPlate" name="gyrosPlate" [(ngModel)]="inventory.gyrosPlate"></div>
    <div class="inventoryWrap">spaghetti <input type="number" id="spaghetti" name="spaghetti" [(ngModel)]="inventory.spaghetti"></div>
    <div class="inventoryWrap">grapeJuice <input type="number" id="grapeJuice" name="grapeJuice" [(ngModel)]="inventory.grapeJuice"></div>
    <div class="inventoryWrap">barleyTea <input type="number" id="barleyTea" name="barleyTea" [(ngModel)]="inventory.barleyTea"></div>
    <div class="inventoryWrap">greenTea <input type="number" id="greenTea" name="greenTea" [(ngModel)]="inventory.greenTea"></div>
    <div class="inventoryWrap">natou <input type="number" id="natou" name="natou" [(ngModel)]="inventory.natou"></div>
    <div class="inventoryWrap">ramen <input type="number" id="ramen" name="ramen" [(ngModel)]="inventory.ramen"></div>
    <div class="inventoryWrap">misoSoup <input type="number" id="misoSoup" name="misoSoup" [(ngModel)]="inventory.misoSoup"></div>
    <div class="inventoryWrap">sushi <input type="number" id="sushi" name="sushi" [(ngModel)]="inventory.sushi"></div>
    <div class="inventoryWrap">porkBun <input type="number" id="porkBun" name="porkBun" [(ngModel)]="inventory.porkBun"></div>
    <div class="inventoryWrap">readBeanBun <input type="number" id="readBeanBun" name="readBeanBun" [(ngModel)]="inventory.readBeanBun"></div>
    <div class="inventoryWrap">chineseBun <input type="number" id="chineseBun" name="chineseBun" [(ngModel)]="inventory.chineseBun"></div>
    <div class="inventoryWrap">dimSumSet <input type="number" id="dimSumSet" name="dimSumSet" [(ngModel)]="inventory.dimSumSet"></div>
    <div class="inventoryWrap">potRoast <input type="number" id="potRoast" name="potRoast" [(ngModel)]="inventory.potRoast"></div>
    <div class="inventoryWrap">sirloin <input type="number" id="sirloin" name="sirloin" [(ngModel)]="inventory.sirloin"></div>
    <div class="inventoryWrap">turkey <input type="number" id="turkey" name="turkey" [(ngModel)]="inventory.turkey"></div>
    <div class="inventoryWrap">mealTicket <input type="number" id="mealTicket" name="mealTicket" [(ngModel)]="inventory.mealTicket"></div>
    <div class="inventoryWrap">neutronBomb <input type="number" id="neutronBomb" name="neutronBomb" [(ngModel)]="inventory.neutronBomb"></div>
    <div class="inventoryWrap">powerOfSire <input type="number" id="powerOfSire" name="powerOfSire" [(ngModel)]="inventory.powerOfSire"></div>
    <div class="inventoryWrap">pentagram <input type="number" id="pentagram" name="pentagram" [(ngModel)]="inventory.pentagram"></div>
    <div class="inventoryWrap">batPentagram <input type="number" id="batPentagram" name="batPentagram" [(ngModel)]="inventory.batPentagram"></div>
    <div class="inventoryWrap">shuriken <input type="number" id="shuriken" name="shuriken" [(ngModel)]="inventory.shuriken"></div>
    <div class="inventoryWrap">crossShuriken <input type="number" id="crossShuriken" name="crossShuriken" [(ngModel)]="inventory.crossShuriken"></div>
    <div class="inventoryWrap">buffaloShuriken <input type="number" id="buffaloShuriken" name="buffaloShuriken" [(ngModel)]="inventory.buffaloShuriken"></div>
    <div class="inventoryWrap">flameShuriken <input type="number" id="flameShuriken" name="flameShuriken" [(ngModel)]="inventory.flameShuriken"></div>
    <div class="inventoryWrap">tnt <input type="number" id="tnt" name="tnt" [(ngModel)]="inventory.tnt"></div>
    <div class="inventoryWrap">bwakaKnife <input type="number" id="bwakaKnife" name="bwakaKnife" [(ngModel)]="inventory.bwakaKnife"></div>
    <div class="inventoryWrap">boomerang <input type="number" id="boomerang" name="boomerang" [(ngModel)]="inventory.boomerang"></div>
    <div class="inventoryWrap">javelin <input type="number" id="javelin" name="javelin" [(ngModel)]="inventory.javelin"></div>
    <div class="inventoryWrap">tyrfing <input type="number" id="tyrfing" name="tyrfing" [(ngModel)]="inventory.tyrfing"></div>
    <div class="inventoryWrap">namakura <input type="number" id="namakura" name="namakura" [(ngModel)]="inventory.namakura"></div>
    <div class="inventoryWrap">knuckleDuster <input type="number" id="knuckleDuster" name="knuckleDuster" [(ngModel)]="inventory.knuckleDuster"></div>
    <div class="inventoryWrap">gladius <input type="number" id="gladius" name="gladius" [(ngModel)]="inventory.gladius"></div>
    <div class="inventoryWrap">scimitar <input type="number" id="scimitar" name="scimitar" [(ngModel)]="inventory.scimitar"></div>
    <div class="inventoryWrap">cutlass <input type="number" id="cutlass" name="cutlass" [(ngModel)]="inventory.cutlass"></div>
    <div class="inventoryWrap">sabre <input type="number" id="sabre" name="sabre" [(ngModel)]="inventory.sabre"></div>
    <div class="inventoryWrap">falchion <input type="number" id="falchion" name="falchion" [(ngModel)]="inventory.falchion"></div>
    <div class="inventoryWrap">broadsword <input type="number" id="broadsword" name="broadsword" [(ngModel)]="inventory.broadsword"></div>
    <div class="inventoryWrap">bekatowa <input type="number" id="bekatowa" name="bekatowa" [(ngModel)]="inventory.bekatowa"></div>
    <div class="inventoryWrap">damascusSword <input type="number" id="damascusSword" name="damascusSword" [(ngModel)]="inventory.damascusSword"></div>
    <div class="inventoryWrap">hunterSword <input type="number" id="hunterSword" name="hunterSword" [(ngModel)]="inventory.hunterSword"></div>
    <div class="inventoryWrap">estoc <input type="number" id="estoc" name="estoc" [(ngModel)]="inventory.estoc"></div>
    <div class="inventoryWrap">bastardSword <input type="number" id="bastardSword" name="bastardSword" [(ngModel)]="inventory.bastardSword"></div>
    <div class="inventoryWrap">jewelKnuckles <input type="number" id="jewelKnuckles" name="jewelKnuckles" [(ngModel)]="inventory.jewelKnuckles"></div>
    <div class="inventoryWrap">claymore <input type="number" id="claymore" name="claymore" [(ngModel)]="inventory.claymore"></div>
    <div class="inventoryWrap">talware <input type="number" id="talware" name="talware" [(ngModel)]="inventory.talware"></div>
    <div class="inventoryWrap">katana <input type="number" id="katana" name="katana" [(ngModel)]="inventory.katana"></div>
    <div class="inventoryWrap">flameberge <input type="number" id="flameberge" name="flameberge" [(ngModel)]="inventory.flameberge"></div>
    <div class="inventoryWrap">ironFist <input type="number" id="ironFist" name="ironFist" [(ngModel)]="inventory.ironFist"></div>
    <div class="inventoryWrap">zweiHander <input type="number" id="zweiHander" name="zweiHander" [(ngModel)]="inventory.zweiHander"></div>
    <div class="inventoryWrap">swordOfHador <input type="number" id="swordOfHador" name="swordOfHador" [(ngModel)]="inventory.swordOfHador"></div>
    <div class="inventoryWrap">luminus <input type="number" id="luminus" name="luminus" [(ngModel)]="inventory.luminus"></div>
    <div class="inventoryWrap">harper <input type="number" id="harper" name="harper" [(ngModel)]="inventory.harper"></div>
    <div class="inventoryWrap">obsidianSword <input type="number" id="obsidianSword" name="obsidianSword" [(ngModel)]="inventory.obsidianSword"></div>
    <div class="inventoryWrap">gram <input type="number" id="gram" name="gram" [(ngModel)]="inventory.gram"></div>
    <div class="inventoryWrap">jewelSword <input type="number" id="jewelSword" name="jewelSword" [(ngModel)]="inventory.jewelSword"></div>
    <div class="inventoryWrap">mormegil <input type="number" id="mormegil" name="mormegil" [(ngModel)]="inventory.mormegil"></div>
    <div class="inventoryWrap">firebrand <input type="number" id="firebrand" name="firebrand" [(ngModel)]="inventory.firebrand"></div>
    <div class="inventoryWrap">thunderSword <input type="number" id="thunderSword" name="thunderSword" [(ngModel)]="inventory.thunderSword"></div>
    <div class="inventoryWrap">icebrand <input type="number" id="icebrand" name="icebrand" [(ngModel)]="inventory.icebrand"></div>
    <div class="inventoryWrap">stoneSword <input type="number" id="stoneSword" name="stoneSword" [(ngModel)]="inventory.stoneSword"></div>
    <div class="inventoryWrap">holySword <input type="number" id="holySword" name="holySword" [(ngModel)]="inventory.holySword"></div>
    <div class="inventoryWrap">terminusEst <input type="number" id="terminusEst" name="terminusEst" [(ngModel)]="inventory.terminusEst"></div>
    <div class="inventoryWrap">marsil <input type="number" id="marsil" name="marsil" [(ngModel)]="inventory.marsil"></div>
    <div class="inventoryWrap">darkBlade <input type="number" id="darkBlade" name="darkBlade" [(ngModel)]="inventory.darkBlade"></div>
    <div class="inventoryWrap">heavenSword <input type="number" id="heavenSword" name="heavenSword" [(ngModel)]="inventory.heavenSword"></div>
    <div class="inventoryWrap">fistOfTulkas <input type="number" id="fistOfTulkas" name="fistOfTulkas" [(ngModel)]="inventory.fistOfTulkas"></div>
    <div class="inventoryWrap">gurthang <input type="number" id="gurthang" name="gurthang" [(ngModel)]="inventory.gurthang"></div>
    <div class="inventoryWrap">mourneBlade <input type="number" id="mourneBlade" name="mourneBlade" [(ngModel)]="inventory.mourneBlade"></div>
    <div class="inventoryWrap">alucardSword <input type="number" id="alucardSword" name="alucardSword" [(ngModel)]="inventory.alucardSword"></div>
    <div class="inventoryWrap">mablungSword <input type="number" id="mablungSword" name="mablungSword" [(ngModel)]="inventory.mablungSword"></div>
    <div class="inventoryWrap">badelaire <input type="number" id="badelaire" name="badelaire" [(ngModel)]="inventory.badelaire"></div>
    <div class="inventoryWrap">swordFamiliar <input type="number" id="swordFamiliar" name="swordFamiliar" [(ngModel)]="inventory.swordFamiliar"></div>
    <div class="inventoryWrap">greatSword <input type="number" id="greatSword" name="greatSword" [(ngModel)]="inventory.greatSword"></div>
    <div class="inventoryWrap">mace <input type="number" id="mace" name="mace" [(ngModel)]="inventory.mace"></div>
    <div class="inventoryWrap">morningstar <input type="number" id="morningstar" name="morningstar" [(ngModel)]="inventory.morningstar"></div>
    <div class="inventoryWrap">holyRod <input type="number" id="holyRod" name="holyRod" [(ngModel)]="inventory.holyRod"></div>
    <div class="inventoryWrap">starFlail <input type="number" id="starFlail" name="starFlail" [(ngModel)]="inventory.starFlail"></div>
    <div class="inventoryWrap">moonRod <input type="number" id="moonRod" name="moonRod" [(ngModel)]="inventory.moonRod"></div>
    <div class="inventoryWrap">chakram <input type="number" id="chakram" name="chakram" [(ngModel)]="inventory.chakram"></div>
    <div class="inventoryWrap">fireBoomerang <input type="number" id="fireBoomerang" name="fireBoomerang" [(ngModel)]="inventory.fireBoomerang"></div>
    <div class="inventoryWrap">ironBall <input type="number" id="ironBall" name="ironBall" [(ngModel)]="inventory.ironBall"></div>
    <div class="inventoryWrap">holbeinDagger <input type="number" id="holbeinDagger" name="holbeinDagger" [(ngModel)]="inventory.holbeinDagger"></div>
    <div class="inventoryWrap">blueKnuckles <input type="number" id="blueKnuckles" name="blueKnuckles" [(ngModel)]="inventory.blueKnuckles"></div>
    <div class="inventoryWrap">dynamite <input type="number" id="dynamite" name="dynamite" [(ngModel)]="inventory.dynamite"></div>
    <div class="inventoryWrap">osafuneKatana <input type="number" id="osafuneKatana" name="osafuneKatana" [(ngModel)]="inventory.osafuneKatana"></div>
    <div class="inventoryWrap">masamune <input type="number" id="masamune" name="masamune" [(ngModel)]="inventory.masamune"></div>
    <div class="inventoryWrap">muramasa <input type="number" id="muramasa" name="muramasa" [(ngModel)]="inventory.muramasa"></div>
    <div class="inventoryWrap">heartRefresh <input type="number" id="heartRefresh" name="heartRefresh" [(ngModel)]="inventory.heartRefresh"></div>
    <div class="inventoryWrap">runeSword <input type="number" id="runeSword" name="runeSword" [(ngModel)]="inventory.runeSword"></div>
    <div class="inventoryWrap">antiVenom <input type="number" id="antiVenom" name="antiVenom" [(ngModel)]="inventory.antiVenom"></div>
    <div class="inventoryWrap">uncurse <input type="number" id="uncurse" name="uncurse" [(ngModel)]="inventory.uncurse"></div>
    <div class="inventoryWrap">lifeApple <input type="number" id="lifeApple" name="lifeApple" [(ngModel)]="inventory.lifeApple"></div>
    <div class="inventoryWrap">hammer <input type="number" id="hammer" name="hammer" [(ngModel)]="inventory.hammer"></div>
    <div class="inventoryWrap">strUp <input type="number" id="strUp" name="strUp" [(ngModel)]="inventory.strUp"></div>
    <div class="inventoryWrap">lckUp <input type="number" id="lckUp" name="lckUp" [(ngModel)]="inventory.lckUp"></div>
    <div class="inventoryWrap">intUp <input type="number" id="intUp" name="intUp" [(ngModel)]="inventory.intUp"></div>
    <div class="inventoryWrap">attackUp <input type="number" id="attackUp" name="attackUp" [(ngModel)]="inventory.attackUp"></div>
    <div class="inventoryWrap">defenseUp <input type="number" id="defenseUp" name="defenseUp" [(ngModel)]="inventory.defenseUp"></div>
    <div class="inventoryWrap">resistFire <input type="number" id="resistFire" name="resistFire" [(ngModel)]="inventory.resistFire"></div>
    <div class="inventoryWrap">resistThunder <input type="number" id="resistThunder" name="resistThunder" [(ngModel)]="inventory.resistThunder"></div>
    <div class="inventoryWrap">resistIce <input type="number" id="resistIce" name="resistIce" [(ngModel)]="inventory.resistIce"></div>
    <div class="inventoryWrap">resistStone <input type="number" id="resistStone" name="resistStone" [(ngModel)]="inventory.resistStone"></div>
    <div class="inventoryWrap">resistHoly <input type="number" id="resistHoly" name="resistHoly" [(ngModel)]="inventory.resistHoly"></div>
    <div class="inventoryWrap">resistDark <input type="number" id="resistDark" name="resistDark" [(ngModel)]="inventory.resistDark"></div>
    <div class="inventoryWrap">potion <input type="number" id="potion" name="potion" [(ngModel)]="inventory.potion"></div>
    <div class="inventoryWrap">highPotion <input type="number" id="highPotion" name="highPotion" [(ngModel)]="inventory.highPotion"></div>
    <div class="inventoryWrap">elixir <input type="number" id="elixir" name="elixir" [(ngModel)]="inventory.elixir"></div>
    <div class="inventoryWrap">mannaPrism <input type="number" id="mannaPrism" name="mannaPrism" [(ngModel)]="inventory.mannaPrism"></div>
    <div class="inventoryWrap">vorpalBlade <input type="number" id="vorpalBlade" name="vorpalBlade" [(ngModel)]="inventory.vorpalBlade"></div>
    <div class="inventoryWrap">crissagrim <input type="number" id="crissagrim" name="crissagrim" [(ngModel)]="inventory.crissagrim"></div>
    <div class="inventoryWrap">yasatsuna <input type="number" id="yasatsuna" name="yasatsuna" [(ngModel)]="inventory.yasatsuna"></div>
    <div class="inventoryWrap">libraryCard <input type="number" id="libraryCard" name="libraryCard" [(ngModel)]="inventory.libraryCard"></div>
    <div class="inventoryWrap">alucartShield <input type="number" id="alucartShield" name="alucartShield" [(ngModel)]="inventory.alucartShield"></div>
    <div class="inventoryWrap">alucartSword <input type="number" id="alucartSword" name="alucartSword" [(ngModel)]="inventory.alucartSword"></div>
    <div class="inventoryWrap">clothTunic<input type="number" id="clothTunic" name="clothTunic" [(ngModel)]="inventory.clothTunic"></div>
    <div class="inventoryWrap">hideCuirass<input type="number" id="hideCuirass" name="hideCuirass" [(ngModel)]="inventory.hideCuirass"></div>
    <div class="inventoryWrap">bronzeCuirass<input type="number" id="bronzeCuirass" name="bronzeCuirass" [(ngModel)]="inventory.bronzeCuirass"></div>
    <div class="inventoryWrap">ironCuirass<input type="number" id="ironCuirass" name="ironCuirass" [(ngModel)]="inventory.ironCuirass"></div>
    <div class="inventoryWrap">steelCuirass<input type="number" id="steelCuirass" name="steelCuirass" [(ngModel)]="inventory.steelCuirass"></div>
    <div class="inventoryWrap">silverPlate<input type="number" id="silverPlate" name="silverPlate" [(ngModel)]="inventory.silverPlate"></div>
    <div class="inventoryWrap">goldPlate<input type="number" id="goldPlate" name="goldPlate" [(ngModel)]="inventory.goldPlate"></div>
    <div class="inventoryWrap">platinumMail<input type="number" id="platinumMail" name="platinumMail" [(ngModel)]="inventory.platinumMail"></div>
    <div class="inventoryWrap">diamondPlate<input type="number" id="diamondPlate" name="diamondPlate" [(ngModel)]="inventory.diamondPlate"></div>
    <div class="inventoryWrap">fireMail<input type="number" id="fireMail" name="fireMail" [(ngModel)]="inventory.fireMail"></div>
    <div class="inventoryWrap">lightningMail<input type="number" id="lightningMail" name="lightningMail" [(ngModel)]="inventory.lightningMail"></div>
    <div class="inventoryWrap">iceMail<input type="number" id="iceMail" name="iceMail" [(ngModel)]="inventory.iceMail"></div>
    <div class="inventoryWrap">mirrorCuirass<input type="number" id="mirrorCuirass" name="mirrorCuirass" [(ngModel)]="inventory.mirrorCuirass"></div>
    <div class="inventoryWrap">spikeBreakerArmor<input type="number" id="spikeBreakerArmor" name="spikeBreakerArmor" [(ngModel)]="inventory.spikeBreakerArmor"></div>
    <div class="inventoryWrap">alucardArmor<input type="number" id="alucardArmor" name="alucardArmor" [(ngModel)]="inventory.alucardArmor"></div>
    <div class="inventoryWrap">darkArmor<input type="number" id="darkArmor" name="darkArmor" [(ngModel)]="inventory.darkArmor"></div>
    <div class="inventoryWrap">healingMail<input type="number" id="healingMail" name="healingMail" [(ngModel)]="inventory.healingMail"></div>
    <div class="inventoryWrap">holyArmor<input type="number" id="holyArmor" name="holyArmor" [(ngModel)]="inventory.holyArmor"></div>
    <div class="inventoryWrap">walkArmor<input type="number" id="walkArmor" name="walkArmor" [(ngModel)]="inventory.walkArmor"></div>
    <div class="inventoryWrap">brilliantArmor<input type="number" id="brilliantArmor" name="brilliantArmor" [(ngModel)]="inventory.brilliantArmor"></div>
    <div class="inventoryWrap">mojoMail<input type="number" id="mojoMail" name="mojoMail" [(ngModel)]="inventory.mojoMail"></div>
    <div class="inventoryWrap">furyPlate<input type="number" id="furyPlate" name="furyPlate" [(ngModel)]="inventory.furyPlate"></div>
    <div class="inventoryWrap">draculaTunic<input type="number" id="draculaTunic" name="draculaTunic" [(ngModel)]="inventory.draculaTunic"></div>
    <div class="inventoryWrap">godSGarb<input type="number" id="godSGarb" name="godSGarb" [(ngModel)]="inventory.godSGarb"></div>
    <div class="inventoryWrap">axelordArmor<input type="number" id="axelordArmor" name="axelordArmor" [(ngModel)]="inventory.axelordArmor"></div>
    <div class="inventoryWrap">sunglasses<input type="number" id="sunglasses" name="sunglasses" [(ngModel)]="inventory.sunglasses"></div>
    <div class="inventoryWrap">ballroomMask<input type="number" id="ballroomMask" name="ballroomMask" [(ngModel)]="inventory.ballroomMask"></div>
    <div class="inventoryWrap">bandanna<input type="number" id="bandanna" name="bandanna" [(ngModel)]="inventory.bandanna"></div>
    <div class="inventoryWrap">feltHat<input type="number" id="feltHat" name="feltHat" [(ngModel)]="inventory.feltHat"></div>
    <div class="inventoryWrap">velvetHat<input type="number" id="velvetHat" name="velvetHat" [(ngModel)]="inventory.velvetHat"></div>
    <div class="inventoryWrap">goggles<input type="number" id="goggles" name="goggles" [(ngModel)]="inventory.goggles"></div>
    <div class="inventoryWrap">leatherHat<input type="number" id="leatherHat" name="leatherHat" [(ngModel)]="inventory.leatherHat"></div>
    <div class="inventoryWrap">holyGlasses<input type="number" id="holyGlasses" name="holyGlasses" [(ngModel)]="inventory.holyGlasses"></div>
    <div class="inventoryWrap">steelHelm<input type="number" id="steelHelm" name="steelHelm" [(ngModel)]="inventory.steelHelm"></div>
    <div class="inventoryWrap">stoneMask<input type="number" id="stoneMask" name="stoneMask" [(ngModel)]="inventory.stoneMask"></div>
    <div class="inventoryWrap">circlet<input type="number" id="circlet" name="circlet" [(ngModel)]="inventory.circlet"></div>
    <div class="inventoryWrap">goldCirclet<input type="number" id="goldCirclet" name="goldCirclet" [(ngModel)]="inventory.goldCirclet"></div>
    <div class="inventoryWrap">rubyCirclet<input type="number" id="rubyCirclet" name="rubyCirclet" [(ngModel)]="inventory.rubyCirclet"></div>
    <div class="inventoryWrap">opalCirclet<input type="number" id="opalCirclet" name="opalCirclet" [(ngModel)]="inventory.opalCirclet"></div>
    <div class="inventoryWrap">topazCirclet<input type="number" id="topazCirclet" name="topazCirclet" [(ngModel)]="inventory.topazCirclet"></div>
    <div class="inventoryWrap">berylCirclet<input type="number" id="berylCirclet" name="berylCirclet" [(ngModel)]="inventory.berylCirclet"></div>
    <div class="inventoryWrap">catEyeCirclet<input type="number" id="catEyeCirclet" name="catEyeCirclet" [(ngModel)]="inventory.catEyeCirclet"></div>
    <div class="inventoryWrap">coralCirclet<input type="number" id="coralCirclet" name="coralCirclet" [(ngModel)]="inventory.coralCirclet"></div>
    <div class="inventoryWrap">dragonHelm<input type="number" id="dragonHelm" name="dragonHelm" [(ngModel)]="inventory.dragonHelm"></div>
    <div class="inventoryWrap">silverCrown<input type="number" id="silverCrown" name="silverCrown" [(ngModel)]="inventory.silverCrown"></div>
    <div class="inventoryWrap">wizardHat<input type="number" id="wizardHat" name="wizardHat" [(ngModel)]="inventory.wizardHat"></div>
    <div class="inventoryWrap">clothCloak<input type="number" id="clothCloak" name="clothCloak" [(ngModel)]="inventory.clothCloak"></div>
    <div class="inventoryWrap">reverseCloak<input type="number" id="reverseCloak" name="reverseCloak" [(ngModel)]="inventory.reverseCloak"></div>
    <div class="inventoryWrap">elvenCloak<input type="number" id="elvenCloak" name="elvenCloak" [(ngModel)]="inventory.elvenCloak"></div>
    <div class="inventoryWrap">crystalCloak<input type="number" id="crystalCloak" name="crystalCloak" [(ngModel)]="inventory.crystalCloak"></div>
    <div class="inventoryWrap">royalCloak<input type="number" id="royalCloak" name="royalCloak" [(ngModel)]="inventory.royalCloak"></div>
    <div class="inventoryWrap">bloodCloak<input type="number" id="bloodCloak" name="bloodCloak" [(ngModel)]="inventory.bloodCloak"></div>
    <div class="inventoryWrap">josephsCloak<input type="number" id="josephsCloak" name="josephsCloak" [(ngModel)]="inventory.josephsCloak"></div>
    <div class="inventoryWrap">twilightCloak<input type="number" id="twilightCloak" name="twilightCloak" [(ngModel)]="inventory.twilightCloak"></div>
    <div class="inventoryWrap">moonstone<input type="number" id="moonstone" name="moonstone" [(ngModel)]="inventory.moonstone"></div>
    <div class="inventoryWrap">sunstone<input type="number" id="sunstone" name="sunstone" [(ngModel)]="inventory.sunstone"></div>
    <div class="inventoryWrap">bloodstone<input type="number" id="bloodstone" name="bloodstone" [(ngModel)]="inventory.bloodstone"></div>
    <div class="inventoryWrap">staurolite<input type="number" id="staurolite" name="staurolite" [(ngModel)]="inventory.staurolite"></div>
    <div class="inventoryWrap">ringOfPales<input type="number" id="ringOfPales" name="ringOfPales" [(ngModel)]="inventory.ringOfPales"></div>
    <div class="inventoryWrap">zircon<input type="number" id="zircon" name="zircon" [(ngModel)]="inventory.zircon"></div>
    <div class="inventoryWrap">aquamarine<input type="number" id="aquamarine" name="aquamarine" [(ngModel)]="inventory.aquamarine"></div>
    <div class="inventoryWrap">turquiose<input type="number" id="turquiose" name="turquiose" [(ngModel)]="inventory.turquiose"></div>
    <div class="inventoryWrap">onyx<input type="number" id="onyx" name="onyx" [(ngModel)]="inventory.onyx"></div>
    <div class="inventoryWrap">garnet<input type="number" id="garnet" name="garnet" [(ngModel)]="inventory.garnet"></div>
    <div class="inventoryWrap">opal<input type="number" id="opal" name="opal" [(ngModel)]="inventory.opal"></div>
    <div class="inventoryWrap">diamond<input type="number" id="diamond" name="diamond" [(ngModel)]="inventory.diamond"></div>
    <div class="inventoryWrap">lapisLazuli<input type="number" id="lapisLazuli" name="lapisLazuli" [(ngModel)]="inventory.lapisLazuli"></div>
    <div class="inventoryWrap">ringOfAres<input type="number" id="ringOfAres" name="ringOfAres" [(ngModel)]="inventory.ringOfAres"></div>
    <div class="inventoryWrap">goldRing<input type="number" id="goldRing" name="goldRing" [(ngModel)]="inventory.goldRing"></div>
    <div class="inventoryWrap">silverRing<input type="number" id="silverRing" name="silverRing" [(ngModel)]="inventory.silverRing"></div>
    <div class="inventoryWrap">ringOfVarda<input type="number" id="ringOfVarda" name="ringOfVarda" [(ngModel)]="inventory.ringOfVarda"></div>
    <div class="inventoryWrap">ringOfArcana<input type="number" id="ringOfArcana" name="ringOfArcana" [(ngModel)]="inventory.ringOfArcana"></div>
    <div class="inventoryWrap">mysticPendant<input type="number" id="mysticPendant" name="mysticPendant" [(ngModel)]="inventory.mysticPendant"></div>
    <div class="inventoryWrap">heartBrooch<input type="number" id="heartBrooch" name="heartBrooch" [(ngModel)]="inventory.heartBrooch"></div>
    <div class="inventoryWrap">necklaceOfJ<input type="number" id="necklaceOfJ" name="necklaceOfJ" [(ngModel)]="inventory.necklaceOfJ"></div>
    <div class="inventoryWrap">gauntlet<input type="number" id="gauntlet" name="gauntlet" [(ngModel)]="inventory.gauntlet"></div>
    <div class="inventoryWrap">ankhOfLife<input type="number" id="ankhOfLife" name="ankhOfLife" [(ngModel)]="inventory.ankhOfLife"></div>
    <div class="inventoryWrap">ringOfFeanor<input type="number" id="ringOfFeanor" name="ringOfFeanor" [(ngModel)]="inventory.ringOfFeanor"></div>
    <div class="inventoryWrap">medal<input type="number" id="medal" name="medal" [(ngModel)]="inventory.medal"></div>
    <div class="inventoryWrap">talisman<input type="number" id="talisman" name="talisman" [(ngModel)]="inventory.talisman"></div>
    <div class="inventoryWrap">duplicator<input type="number" id="duplicator" name="duplicator" [(ngModel)]="inventory.duplicator"></div>
    <div class="inventoryWrap">kingsStone<input type="number" id="kingsStone" name="kingsStone" [(ngModel)]="inventory.kingsStone"></div>
    <div class="inventoryWrap">covenantStone<input type="number" id="covenantStone" name="covenantStone" [(ngModel)]="inventory.covenantStone"></div>
    <div class="inventoryWrap">nauglamir<input type="number" id="nauglamir" name="nauglamir" [(ngModel)]="inventory.nauglamir"></div>
    <div class="inventoryWrap">secretBoots<input type="number" id="secretBoots" name="secretBoots" [(ngModel)]="inventory.secretBoots"></div>
    <div class="inventoryWrap">alucartMail<input type="number" id="alucartMail" name="alucartMail" [(ngModel)]="inventory.alucartMail"></div>
  </form>
</div>
