<div id="inventoryDiv">
  <form #inventoryForm="ngForm" (ngSubmit)="updateFile()">
    emptyHand <input type="number" id="emptyHand" name="emptyHand" [(ngModel)]="inventory.emptyHand"><br />
    monsterVial_1 <input type="number" id="monsterVial_1" name="monsterVial_1" [(ngModel)]="inventory.monsterVial_1"><br />
    monsterVial_2 <input type="number" id="monsterVial_2" name="monsterVial_2" [(ngModel)]="inventory.monsterVial_2"><br />
    monsterVial_3 <input type="number" id="monsterVial_3" name="monsterVial_3" [(ngModel)]="inventory.monsterVial_3"><br />
    shieldRod <input type="number" id="shieldRod" name="shieldRod" [(ngModel)]="inventory.shieldRod"><br />
    leatherShield <input type="number" id="leatherShield" name="leatherShield" [(ngModel)]="inventory.leatherShield"><br />
    knightShield <input type="number" id="knightShield" name="knightShield" [(ngModel)]="inventory.knightShield"><br />
    ironShield <input type="number" id="ironShield" name="ironShield" [(ngModel)]="inventory.ironShield"><br />
    axelordShield <input type="number" id="axelordShield" name="axelordShield" [(ngModel)]="inventory.axelordShield"><br />
    heraldShield <input type="number" id="heraldShield" name="heraldShield" [(ngModel)]="inventory.heraldShield"><br />
    darkShield <input type="number" id="darkShield" name="darkShield" [(ngModel)]="inventory.darkShield"><br />
    goddessShield <input type="number" id="goddessShield" name="goddessShield" [(ngModel)]="inventory.goddessShield"><br />
    shamanShield <input type="number" id="shamanShield" name="shamanShield" [(ngModel)]="inventory.shamanShield"><br />
    medusaShield <input type="number" id="medusaShield" name="medusaShield" [(ngModel)]="inventory.medusaShield"><br />
    skullShield <input type="number" id="skullShield" name="skullShield" [(ngModel)]="inventory.skullShield"><br />
    fireShield <input type="number" id="fireShield" name="fireShield" [(ngModel)]="inventory.fireShield"><br />
    alucardShield <input type="number" id="alucardShield" name="alucardShield" [(ngModel)]="inventory.alucardShield"><br />
    swordOfDawn <input type="number" id="swordOfDawn" name="swordOfDawn" [(ngModel)]="inventory.swordOfDawn"><br />
    basilard <input type="number" id="basilard" name="basilard" [(ngModel)]="inventory.basilard"><br />
    shortSword <input type="number" id="shortSword" name="shortSword" [(ngModel)]="inventory.shortSword"><br />
    combatKnife <input type="number" id="combatKnife" name="combatKnife" [(ngModel)]="inventory.combatKnife"><br />
    nunchuku <input type="number" id="nunchuku" name="nunchuku" [(ngModel)]="inventory.nunchuku"><br />
    wereBane <input type="number" id="wereBane" name="wereBane" [(ngModel)]="inventory.wereBane"><br />
    rapier <input type="number" id="rapier" name="rapier" [(ngModel)]="inventory.rapier"><br />
    karmaCoin <input type="number" id="karmaCoin" name="karmaCoin" [(ngModel)]="inventory.karmaCoin"><br />
    magicMissile <input type="number" id="magicMissile" name="magicMissile" [(ngModel)]="inventory.magicMissile"><br />
    redRust <input type="number" id="redRust" name="redRust" [(ngModel)]="inventory.redRust"><br />
    takemitsu <input type="number" id="takemitsu" name="takemitsu" [(ngModel)]="inventory.takemitsu"><br />
    shotel <input type="number" id="shotel" name="shotel" [(ngModel)]="inventory.shotel"><br />
    orange <input type="number" id="orange" name="orange" [(ngModel)]="inventory.orange"><br />
    apple <input type="number" id="apple" name="apple" [(ngModel)]="inventory.apple"><br />
    banana <input type="number" id="banana" name="banana" [(ngModel)]="inventory.banana"><br />
    grapes <input type="number" id="grapes" name="grapes" [(ngModel)]="inventory.grapes"><br />
    strawberry <input type="number" id="strawberry" name="strawberry" [(ngModel)]="inventory.strawberry"><br />
    pineapple <input type="number" id="pineapple" name="pineapple" [(ngModel)]="inventory.pineapple"><br />
    peanuts <input type="number" id="peanuts" name="peanuts" [(ngModel)]="inventory.peanuts"><br />
    toadstool <input type="number" id="toadstool" name="toadstool" [(ngModel)]="inventory.toadstool"><br />
    shiitake <input type="number" id="shiitake" name="shiitake" [(ngModel)]="inventory.shiitake"><br />
    cheesecake <input type="number" id="cheesecake" name="cheesecake" [(ngModel)]="inventory.cheesecake"><br />
    shortcake <input type="number" id="shortcake" name="shortcake" [(ngModel)]="inventory.shortcake"><br />
    tart <input type="number" id="tart" name="tart" [(ngModel)]="inventory.tart"><br />
    parfait <input type="number" id="parfait" name="parfait" [(ngModel)]="inventory.parfait"><br />
    pudding <input type="number" id="pudding" name="pudding" [(ngModel)]="inventory.pudding"><br />
    iceCream <input type="number" id="iceCream" name="iceCream" [(ngModel)]="inventory.iceCream"><br />
    frankfurter <input type="number" id="frankfurter" name="frankfurter" [(ngModel)]="inventory.frankfurter"><br />
    hamburger <input type="number" id="hamburger" name="hamburger" [(ngModel)]="inventory.hamburger"><br />
    pizza <input type="number" id="pizza" name="pizza" [(ngModel)]="inventory.pizza"><br />
    cheese <input type="number" id="cheese" name="cheese" [(ngModel)]="inventory.cheese"><br />
    hamAndEggs <input type="number" id="hamAndEggs" name="hamAndEggs" [(ngModel)]="inventory.hamAndEggs"><br />
    omelette <input type="number" id="omelette" name="omelette" [(ngModel)]="inventory.omelette"><br />
    morningSet <input type="number" id="morningSet" name="morningSet" [(ngModel)]="inventory.morningSet"><br />
    lunchA <input type="number" id="lunchA" name="lunchA" [(ngModel)]="inventory.lunchA"><br />
    lunchB <input type="number" id="lunchB" name="lunchB" [(ngModel)]="inventory.lunchB"><br />
    curryRice <input type="number" id="curryRice" name="curryRice" [(ngModel)]="inventory.curryRice"><br />
    gyrosPlate <input type="number" id="gyrosPlate" name="gyrosPlate" [(ngModel)]="inventory.gyrosPlate"><br />
    spaghetti <input type="number" id="spaghetti" name="spaghetti" [(ngModel)]="inventory.spaghetti"><br />
    grapeJuice <input type="number" id="grapeJuice" name="grapeJuice" [(ngModel)]="inventory.grapeJuice"><br />
    barleyTea <input type="number" id="barleyTea" name="barleyTea" [(ngModel)]="inventory.barleyTea"><br />
    greenTea <input type="number" id="greenTea" name="greenTea" [(ngModel)]="inventory.greenTea"><br />
    natou <input type="number" id="natou" name="natou" [(ngModel)]="inventory.natou"><br />
    ramen <input type="number" id="ramen" name="ramen" [(ngModel)]="inventory.ramen"><br />
    misoSoup <input type="number" id="misoSoup" name="misoSoup" [(ngModel)]="inventory.misoSoup"><br />
    sushi <input type="number" id="sushi" name="sushi" [(ngModel)]="inventory.sushi"><br />
    porkBun <input type="number" id="porkBun" name="porkBun" [(ngModel)]="inventory.porkBun"><br />
    readBeanBun <input type="number" id="readBeanBun" name="readBeanBun" [(ngModel)]="inventory.readBeanBun"><br />
    chineseBun <input type="number" id="chineseBun" name="chineseBun" [(ngModel)]="inventory.chineseBun"><br />
    dimSumSet <input type="number" id="dimSumSet" name="dimSumSet" [(ngModel)]="inventory.dimSumSet"><br />
    potRoast <input type="number" id="potRoast" name="potRoast" [(ngModel)]="inventory.potRoast"><br />
    sirloin <input type="number" id="sirloin" name="sirloin" [(ngModel)]="inventory.sirloin"><br />
    turkey <input type="number" id="turkey" name="turkey" [(ngModel)]="inventory.turkey"><br />
    mealTicket <input type="number" id="mealTicket" name="mealTicket" [(ngModel)]="inventory.mealTicket"><br />
    neutronBomb <input type="number" id="neutronBomb" name="neutronBomb" [(ngModel)]="inventory.neutronBomb"><br />
    powerOfSire <input type="number" id="powerOfSire" name="powerOfSire" [(ngModel)]="inventory.powerOfSire"><br />
    pentagram <input type="number" id="pentagram" name="pentagram" [(ngModel)]="inventory.pentagram"><br />
    batPentagram <input type="number" id="batPentagram" name="batPentagram" [(ngModel)]="inventory.batPentagram"><br />
    shuriken <input type="number" id="shuriken" name="shuriken" [(ngModel)]="inventory.shuriken"><br />
    crossShuriken <input type="number" id="crossShuriken" name="crossShuriken" [(ngModel)]="inventory.crossShuriken"><br />
    buffaloShuriken <input type="number" id="buffaloShuriken" name="buffaloShuriken" [(ngModel)]="inventory.buffaloShuriken"><br />
    flameShuriken <input type="number" id="flameShuriken" name="flameShuriken" [(ngModel)]="inventory.flameShuriken"><br />
    tnt <input type="number" id="tnt" name="tnt" [(ngModel)]="inventory.tnt"><br />
    bwakaKnife <input type="number" id="bwakaKnife" name="bwakaKnife" [(ngModel)]="inventory.bwakaKnife"><br />
    boomerang <input type="number" id="boomerang" name="boomerang" [(ngModel)]="inventory.boomerang"><br />
    javelin <input type="number" id="javelin" name="javelin" [(ngModel)]="inventory.javelin"><br />
    tyrfing <input type="number" id="tyrfing" name="tyrfing" [(ngModel)]="inventory.tyrfing"><br />
    namakura <input type="number" id="namakura" name="namakura" [(ngModel)]="inventory.namakura"><br />
    knuckleDuster <input type="number" id="knuckleDuster" name="knuckleDuster" [(ngModel)]="inventory.knuckleDuster"><br />
    gladius <input type="number" id="gladius" name="gladius" [(ngModel)]="inventory.gladius"><br />
    scimitar <input type="number" id="scimitar" name="scimitar" [(ngModel)]="inventory.scimitar"><br />
    cutlass <input type="number" id="cutlass" name="cutlass" [(ngModel)]="inventory.cutlass"><br />
    sabre <input type="number" id="sabre" name="sabre" [(ngModel)]="inventory.sabre"><br />
    falchion <input type="number" id="falchion" name="falchion" [(ngModel)]="inventory.falchion"><br />
    broadsword <input type="number" id="broadsword" name="broadsword" [(ngModel)]="inventory.broadsword"><br />
    bekatowa <input type="number" id="bekatowa" name="bekatowa" [(ngModel)]="inventory.bekatowa"><br />
    damascusSword <input type="number" id="damascusSword" name="damascusSword" [(ngModel)]="inventory.damascusSword"><br />
    hunterSword <input type="number" id="hunterSword" name="hunterSword" [(ngModel)]="inventory.hunterSword"><br />
    estoc <input type="number" id="estoc" name="estoc" [(ngModel)]="inventory.estoc"><br />
    bastardSword <input type="number" id="bastardSword" name="bastardSword" [(ngModel)]="inventory.bastardSword"><br />
    jewelKnuckles <input type="number" id="jewelKnuckles" name="jewelKnuckles" [(ngModel)]="inventory.jewelKnuckles"><br />
    claymore <input type="number" id="claymore" name="claymore" [(ngModel)]="inventory.claymore"><br />
    talware <input type="number" id="talware" name="talware" [(ngModel)]="inventory.talware"><br />
    katana <input type="number" id="katana" name="katana" [(ngModel)]="inventory.katana"><br />
    flameberge <input type="number" id="flameberge" name="flameberge" [(ngModel)]="inventory.flameberge"><br />
    ironFist <input type="number" id="ironFist" name="ironFist" [(ngModel)]="inventory.ironFist"><br />
    zweiHander <input type="number" id="zweiHander" name="zweiHander" [(ngModel)]="inventory.zweiHander"><br />
    swordOfHador <input type="number" id="swordOfHador" name="swordOfHador" [(ngModel)]="inventory.swordOfHador"><br />
    luminus <input type="number" id="luminus" name="luminus" [(ngModel)]="inventory.luminus"><br />
    harper <input type="number" id="harper" name="harper" [(ngModel)]="inventory.harper"><br />
    obsidianSword <input type="number" id="obsidianSword" name="obsidianSword" [(ngModel)]="inventory.obsidianSword"><br />
    gram <input type="number" id="gram" name="gram" [(ngModel)]="inventory.gram"><br />
    jewelSword <input type="number" id="jewelSword" name="jewelSword" [(ngModel)]="inventory.jewelSword"><br />
    mormegil <input type="number" id="mormegil" name="mormegil" [(ngModel)]="inventory.mormegil"><br />
    firebrand <input type="number" id="firebrand" name="firebrand" [(ngModel)]="inventory.firebrand"><br />
    thunderSword <input type="number" id="thunderSword" name="thunderSword" [(ngModel)]="inventory.thunderSword"><br />
    icebrand <input type="number" id="icebrand" name="icebrand" [(ngModel)]="inventory.icebrand"><br />
    stoneSword <input type="number" id="stoneSword" name="stoneSword" [(ngModel)]="inventory.stoneSword"><br />
    holySword <input type="number" id="holySword" name="holySword" [(ngModel)]="inventory.holySword"><br />
    terminusEst <input type="number" id="terminusEst" name="terminusEst" [(ngModel)]="inventory.terminusEst"><br />
    marsil <input type="number" id="marsil" name="marsil" [(ngModel)]="inventory.marsil"><br />
    darkBlade <input type="number" id="darkBlade" name="darkBlade" [(ngModel)]="inventory.darkBlade"><br />
    heavenSword <input type="number" id="heavenSword" name="heavenSword" [(ngModel)]="inventory.heavenSword"><br />
    fistOfTulkas <input type="number" id="fistOfTulkas" name="fistOfTulkas" [(ngModel)]="inventory.fistOfTulkas"><br />
    gurthang <input type="number" id="gurthang" name="gurthang" [(ngModel)]="inventory.gurthang"><br />
    mourneBlade <input type="number" id="mourneBlade" name="mourneBlade" [(ngModel)]="inventory.mourneBlade"><br />
    alucardSword <input type="number" id="alucardSword" name="alucardSword" [(ngModel)]="inventory.alucardSword"><br />
    mablungSword <input type="number" id="mablungSword" name="mablungSword" [(ngModel)]="inventory.mablungSword"><br />
    badelaire <input type="number" id="badelaire" name="badelaire" [(ngModel)]="inventory.badelaire"><br />
    swordFamiliar <input type="number" id="swordFamiliar" name="swordFamiliar" [(ngModel)]="inventory.swordFamiliar"><br />
    greatSword <input type="number" id="greatSword" name="greatSword" [(ngModel)]="inventory.greatSword"><br />
    mace <input type="number" id="mace" name="mace" [(ngModel)]="inventory.mace"><br />
    morningstar <input type="number" id="morningstar" name="morningstar" [(ngModel)]="inventory.morningstar"><br />
    holyRod <input type="number" id="holyRod" name="holyRod" [(ngModel)]="inventory.holyRod"><br />
    starFlail <input type="number" id="starFlail" name="starFlail" [(ngModel)]="inventory.starFlail"><br />
    moonRod <input type="number" id="moonRod" name="moonRod" [(ngModel)]="inventory.moonRod"><br />
    chakram <input type="number" id="chakram" name="chakram" [(ngModel)]="inventory.chakram"><br />
    fireBoomerang <input type="number" id="fireBoomerang" name="fireBoomerang" [(ngModel)]="inventory.fireBoomerang"><br />
    ironBall <input type="number" id="ironBall" name="ironBall" [(ngModel)]="inventory.ironBall"><br />
    holbeinDagger <input type="number" id="holbeinDagger" name="holbeinDagger" [(ngModel)]="inventory.holbeinDagger"><br />
    blueKnuckles <input type="number" id="blueKnuckles" name="blueKnuckles" [(ngModel)]="inventory.blueKnuckles"><br />
    dynamite <input type="number" id="dynamite" name="dynamite" [(ngModel)]="inventory.dynamite"><br />
    osafuneKatana <input type="number" id="osafuneKatana" name="osafuneKatana" [(ngModel)]="inventory.osafuneKatana"><br />
    masamune <input type="number" id="masamune" name="masamune" [(ngModel)]="inventory.masamune"><br />
    muramasa <input type="number" id="muramasa" name="muramasa" [(ngModel)]="inventory.muramasa"><br />
    heartRefresh <input type="number" id="heartRefresh" name="heartRefresh" [(ngModel)]="inventory.heartRefresh"><br />
    runeSword <input type="number" id="runeSword" name="runeSword" [(ngModel)]="inventory.runeSword"><br />
    antiVenom <input type="number" id="antiVenom" name="antiVenom" [(ngModel)]="inventory.antiVenom"><br />
    uncurse <input type="number" id="uncurse" name="uncurse" [(ngModel)]="inventory.uncurse"><br />
    lifeApple <input type="number" id="lifeApple" name="lifeApple" [(ngModel)]="inventory.lifeApple"><br />
    hammer <input type="number" id="hammer" name="hammer" [(ngModel)]="inventory.hammer"><br />
    strUp <input type="number" id="strUp" name="strUp" [(ngModel)]="inventory.strUp"><br />
    lckUp <input type="number" id="lckUp" name="lckUp" [(ngModel)]="inventory.lckUp"><br />
    intUp <input type="number" id="intUp" name="intUp" [(ngModel)]="inventory.intUp"><br />
    attackUp <input type="number" id="attackUp" name="attackUp" [(ngModel)]="inventory.attackUp"><br />
    defenseUp <input type="number" id="defenseUp" name="defenseUp" [(ngModel)]="inventory.defenseUp"><br />
    resistFire <input type="number" id="resistFire" name="resistFire" [(ngModel)]="inventory.resistFire"><br />
    resistThunder <input type="number" id="resistThunder" name="resistThunder" [(ngModel)]="inventory.resistThunder"><br />
    resistIce <input type="number" id="resistIce" name="resistIce" [(ngModel)]="inventory.resistIce"><br />
    resistStone <input type="number" id="resistStone" name="resistStone" [(ngModel)]="inventory.resistStone"><br />
    resistHoly <input type="number" id="resistHoly" name="resistHoly" [(ngModel)]="inventory.resistHoly"><br />
    resistDark <input type="number" id="resistDark" name="resistDark" [(ngModel)]="inventory.resistDark"><br />
    potion <input type="number" id="potion" name="potion" [(ngModel)]="inventory.potion"><br />
    highPotion <input type="number" id="highPotion" name="highPotion" [(ngModel)]="inventory.highPotion"><br />
    elixir <input type="number" id="elixir" name="elixir" [(ngModel)]="inventory.elixir"><br />
    mannaPrism <input type="number" id="mannaPrism" name="mannaPrism" [(ngModel)]="inventory.mannaPrism"><br />
    vorpalBlade <input type="number" id="vorpalBlade" name="vorpalBlade" [(ngModel)]="inventory.vorpalBlade"><br />
    crissagrim <input type="number" id="crissagrim" name="crissagrim" [(ngModel)]="inventory.crissagrim"><br />
    yasatsuna <input type="number" id="yasatsuna" name="yasatsuna" [(ngModel)]="inventory.yasatsuna"><br />
    libraryCard <input type="number" id="libraryCard" name="libraryCard" [(ngModel)]="inventory.libraryCard"><br />
    alucartShield <input type="number" id="alucartShield" name="alucartShield" [(ngModel)]="inventory.alucartShield"><br />
    alucartSword <input type="number" id="alucartSword" name="alucartSword" [(ngModel)]="inventory.alucartSword"><br />
    <div style="width: 458px; height: 109px; position: absolute; margin: 10px 0px 0px 310px;">
        <img src="./images/buttons/overwrite_data.png" />
        <button id="overwrite_yes" type="submit"></button>
        <button id="overwrite_no" (click)="cancelSave()"></button>
    </div>
  </form>
</div>
