<div id="inventoryDiv">
  <form #inventoryForm="ngForm" (ngSubmit)="updateFile()">
    <div style="width: 800px; height: 57px; position: absolute; margin: -55px 0px 0px -10px;">
        <img style="float:left; display:block; width: 458px; height: 47px;" src="./images/buttons/overwrite_data.png" />
        <button style="margin-top:0px;" id="overwrite_yes" type="submit"></button>
        <button style="margin-top:0px; margin-left:10px;" id="overwrite_no" (click)="cancelSave()"></button>
    </div>
    <div *ngFor="let key of arrayOfKeys" class="inventoryWrap">
        {{ key }}<input type="number" id="{{ key }}" name="{{ key }}" [(ngModel)]="relics[key]">
    </div>
  </form>
</div>
